<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919775420773-329fbg76r0iffqvk24mp5iq59kiqeu8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919775420773-329fbg76r0iffqvk24mp5iq59kiqeu8g</string>
	<key>API_KEY</key>
	<string>AIzaSyDAvrXz2LmB87XezwUFfR6EHUU5E1tE5Mw</string>
	<key>GCM_SENDER_ID</key>
	<string>919775420773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOSerler.ReusEd</string>
	<key>PROJECT_ID</key>
	<string>reused-ui</string>
	<key>STORAGE_BUCKET</key>
	<string>reused-ui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919775420773:ios:5a9d99a99cdf029e2cc18c</string>
</dict>
</plist>